<h1>Edit Teacher</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.teacher_path(@conn, :update, @teacher)) %>

<%= link to: Routes.teacher_path(@conn, :index), class: "waves-effect waves-light btn-large blue" do %>
  <i class="material-icons">reply</i>Back
<% end %>
