<h1>New Teacher</h1>

<%= render("form.html", Map.put(assigns, :action, Routes.teacher_path(@conn, :create))) %>

<%= link to: Routes.teacher_path(@conn, :index), class: "waves-effect waves-light btn-large blue" do %>
  <i class="material-icons">reply</i>Back
<% end %>
